In [ ]:
url = "https://api-web.nhle.com/v1/partner-game/CA/now"

r = requests.get(url)

json_data = r.json()
       
# Normalize the JSON data into a DataFrame
df = pd.json_normalize(data = json_data,#data, 
                       record_path = 'games',
                       sep = "_",
                       errors = 'ignore')
df

In [ ]:
url = "https://api-web.nhle.com/v1/partner-game/CA/now"

r = requests.get(url)

json_data = r.json()
       
# Normalize the JSON data into a DataFrame
df = pd.json_normalize(data = json_data,#data, 
                       record_path = 'games',
                       sep = "_")

def explode_and_melt(df, team_type):
    if team_type.upper() == 'HOME':
        team_abbrev_col = 'homeTeam_abbrev'
        team_odds_col = 'homeTeam_odds'
    elif team_type.upper() == 'AWAY':
        team_abbrev_col = 'awayTeam_abbrev'
        team_odds_col = 'awayTeam_odds'
    else:
        raise ValueError("Invalid team type. Use 'HOME' or 'AWAY'.")

    # Explode the respective team's odds column
    df_team_odds = df[['gameId', team_abbrev_col, team_odds_col]].explode(team_odds_col)
    
    # Melt the DataFrame
    df_team_odds = df_team_odds.melt(id_vars=['gameId', team_abbrev_col], var_name='team_type_odds_description', value_name='odds')
    
    # Concatenate the exploded DataFrame with normalized odds values
    df_team_odds = pd.concat([df_team_odds[['gameId', team_abbrev_col, 'team_type_odds_description']], json_normalize(df_team_odds['odds'])], axis=1)
    
    # Renaming columns using rename()
    df_team_odds = df_team_odds.rename(columns={'description': 'bet_description'})

    
    return df_team_odds

# Example usage:
# Assuming df is your original DataFrame

# Explode and process for the home team
home_team_odds = explode_and_melt(df, 'HOME')
home_team_odds = home_team_odds.rename(columns={'homeTeam_abbrev': 'team_abbrev_home',
                                                'value': 'value_home',
                                                'qualifier': 'qualifier_home'})

# Assuming 'column_to_remove' is the name of the column you want to remove
home_team_odds.drop(columns=['team_type_odds_description'], inplace=True)

# Explode and process for the away team
away_team_odds = explode_and_melt(df, 'AWAY')
away_team_odds = away_team_odds.rename(columns={'awayTeam_abbrev': 'team_abbrev_away',
                                                'value': 'value_away',
                                                'qualifier': 'qualifier_away'})

# Assuming 'column_to_remove' is the name of the column you want to remove
away_team_odds.drop(columns=['team_type_odds_description'], inplace=True)

# Merge the DataFrames on 'gameId' and 'bet_description'
merged_df = pd.merge(home_team_odds, away_team_odds, on=['gameId', 'bet_description'], how='outer')

# Convert values in 'qualifier_home' and 'qualifier_away' columns to uppercase
merged_df['qualifier_home'] = merged_df['qualifier_home'].str.upper()
merged_df['qualifier_away'] = merged_df['qualifier_away'].str.upper()

print(merged_df)

# Updated Code
This is the code to use below

In [191]:
import requests
import numpy as np
import pandas as pd
import oracledb
import os
import re
from datetime import datetime, timedelta
from pandas import json_normalize

# Function to convert camel case to snake case
def camel_to_snake(name):
    s1 = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
    return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).lower()

# Function to process URLs and return a list of DataFrames
def process_urls(urls):
    all_dataframes = []

    for url in urls:
        r = requests.get(url)
        json_data = r.json()

        betting_partner_data = json_data.get('bettingPartner', {})
        current_odds_date = json_data.get('currentOddsDate', {})
        last_update_utc = json_data.get('lastUpdatedUTC', {})

        df_current_odds_date = pd.DataFrame({'current_odds_date': [current_odds_date]})
        df_last_update_utc = pd.DataFrame({'last_update_utc': [last_update_utc]})

        df_betting_partner = pd.DataFrame(betting_partner_data, index=[0])

        combined_df = pd.concat([df_current_odds_date, df_last_update_utc, df_betting_partner], axis=1)
        combined_df = combined_df[['current_odds_date', 'last_update_utc', 'partnerId', 'country', 'name', 'siteUrl']]
        
        combined_df.rename(columns={'name': 'partner_name'}, inplace = True)
        combined_df['last_update_utc'] = pd.to_datetime(combined_df['last_update_utc'], format='%Y-%m-%dT%H:%M:%SZ')

        all_dataframes.append(combined_df)

    return all_dataframes

# List of URLs
url_list = [
    "https://api-web.nhle.com/v1/partner-game/CA/now",
    "https://api-web.nhle.com/v1/partner-game/US/now",
]

# Process URLs and get a list of DataFrames
betting_partner_df = process_urls(url_list)

# Access individual DataFrames from the list
for index, df in enumerate(betting_partner_df):
    print(f"DataFrame {index + 1}:")
    print(df)
    print("-------------")

DataFrame 1:
  current_odds_date     last_update_utc  partnerId country partner_name  \
0        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar

                  siteUrl
0  https://sportradar.com
-------------
DataFrame 2:
  current_odds_date     last_update_utc  partnerId country partner_name  \
0        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings

                                             siteUrl
0  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...
-------------

In [192]:
def process_urls(url_list):
    all_dataframes = []

    for url in url_list:
        r = requests.get(url)
        json_data = r.json()

        # Normalize the JSON data into a DataFrame
        df = pd.json_normalize(data=json_data, record_path='games', sep='_')

        def explode_and_melt(df, team_type):
            if team_type.upper() == 'HOME':
                team_abbrev_col = 'homeTeam_abbrev'
                team_odds_col = 'homeTeam_odds'
            elif team_type.upper() == 'AWAY':
                team_abbrev_col = 'awayTeam_abbrev'
                team_odds_col = 'awayTeam_odds'
            else:
                raise ValueError("Invalid team type. Use 'HOME' or 'AWAY'.")

            # Explode the respective team's odds column
            df_team_odds = df[['gameId', team_abbrev_col, team_odds_col]].explode(team_odds_col)

            # Melt the DataFrame
            df_team_odds = df_team_odds.melt(id_vars=['gameId', team_abbrev_col], var_name='team_type_odds_description', value_name='odds')

            # Concatenate the exploded DataFrame with normalized odds values
            df_team_odds = pd.concat([df_team_odds[['gameId', team_abbrev_col, 'team_type_odds_description']], json_normalize(df_team_odds['odds'])], axis=1)

            # Renaming columns using rename()
            df_team_odds = df_team_odds.rename(columns={'description': 'bet_description'})


            return df_team_odds

        # Explode and process for the home team
        home_team_odds = explode_and_melt(df, 'HOME')
        home_team_odds = home_team_odds.rename(columns={'homeTeam_abbrev': 'team_abbrev_home',
                                                        'value': 'value_home',
                                                        'qualifier': 'qualifier_home'})
        home_team_odds.drop(columns=['team_type_odds_description'], inplace=True)

        # Explode and process for the away team
        away_team_odds = explode_and_melt(df, 'AWAY')
        away_team_odds = away_team_odds.rename(columns={'awayTeam_abbrev': 'team_abbrev_away',
                                                        'value': 'value_away',
                                                        'qualifier': 'qualifier_away'})
        away_team_odds.drop(columns=['team_type_odds_description'], inplace=True)

        # Merge the DataFrames on 'gameId' and 'bet_description'
        merged_df = pd.merge(home_team_odds, away_team_odds, on=['gameId', 'bet_description'], how='outer')

        # Convert values in 'qualifier_home' and 'qualifier_away' columns to uppercase
        merged_df['qualifier_home'] = merged_df['qualifier_home'].str.upper()
        merged_df['qualifier_away'] = merged_df['qualifier_away'].str.upper()

        all_dataframes.append(merged_df)

    return all_dataframes

# List of URLs
url_list = [
    "https://api-web.nhle.com/v1/partner-game/CA/now",
    "https://api-web.nhle.com/v1/partner-game/US/now",
]

# Process URLs and get a list of DataFrames
odds_df = process_urls(url_list)

# Access individual DataFrames from the list
for index, df in enumerate(odds_df):
    print(f"DataFrame {index + 1}:")
    print(df)
    print("-------------")

DataFrame 1:
        gameId team_abbrev_home   bet_description  value_home qualifier_home  \
0   2023020546              CBJ  MONEY_LINE_2_WAY       173.0
1   2023020546              CBJ        OVER_UNDER      -123.0           O6.5
2   2023020546              CBJ         PUCK_LINE      -135.0            1.5
3   2023020547              DET        OVER_UNDER      -128.0           O6.5
4   2023020547              DET  MONEY_LINE_2_WAY      -115.0
5   2023020547              DET         PUCK_LINE       208.0           -1.5
6   2023020548              FLA        OVER_UNDER      -111.0             O6
7   2023020548              FLA         PUCK_LINE       163.0           -1.5
8   2023020548              FLA  MONEY_LINE_2_WAY      -144.0
9   2023020549              OTT        OVER_UNDER       108.0             O7
10  2023020549              OTT  MONEY_LINE_2_WAY      -105.0
11  2023020549              OTT         PUCK_LINE      -246.0            1.5
12  2023020550              NYI         PUCK_LINE       163.0           -1.5
13  2023020550              NYI  MONEY_LINE_2_WAY      -154.0
14  2023020550              NYI        OVER_UNDER      -118.0           O5.5
15  2023020551              DAL         PUCK_LINE      -142.0           -1.5
16  2023020551              DAL  MONEY_LINE_2_WAY      -404.0
17  2023020551              DAL        OVER_UNDER      -113.0             O6
18  2023020552              STL  MONEY_LINE_2_WAY       140.0
19  2023020552              STL         PUCK_LINE      -176.0            1.5
20  2023020552              STL        OVER_UNDER      -116.0           O6.5
21  2023020553              ANA         PUCK_LINE      -223.0            1.5
22  2023020553              ANA  MONEY_LINE_2_WAY       110.0
23  2023020553              ANA        OVER_UNDER      -106.0           O6.5
24  2023020554              SEA         PUCK_LINE       177.0           -1.5
25  2023020554              SEA  MONEY_LINE_2_WAY      -140.0
26  2023020554              SEA        OVER_UNDER      -105.0             O6

   team_abbrev_away  value_away qualifier_away
0               TOR      -209.0
1               TOR       102.0           U6.5
2               TOR       113.0            1.5
3               NSH       106.0           U6.5
4               NSH      -105.0
5               NSH      -260.0           +1.5
6               NYR      -108.0             U6
7               NYR      -198.0           +1.5
8               NYR       122.0
9               NJD      -129.0             U7
10              NJD      -115.0
11              NJD       200.0            1.5
12              WSH      -198.0           +1.5
13              WSH       129.0
14              WSH      -102.0           U5.5
15              CHI       119.0           +1.5
16              CHI       316.0
17              CHI      -106.0             U6
18              COL      -166.0
19              COL       146.0            1.5
20              COL      -103.0           U6.5
21              ARI       183.0            1.5
22              ARI      -130.0
23              ARI      -114.0           U6.5
24              PHI      -217.0           +1.5
25              PHI       119.0
26              PHI      -115.0             U6
-------------
DataFrame 2:
        gameId team_abbrev_home   bet_description  value_home qualifier_home  \
0   2023020546              CBJ  MONEY_LINE_3_WAY       310.0
1   2023020546              CBJ  MONEY_LINE_2_WAY       180.0
2   2023020546              CBJ        OVER_UNDER       220.0           O6.5
3   2023020547              DET        OVER_UNDER       450.0           O6.5
4   2023020547              DET  MONEY_LINE_3_WAY       135.0
5   2023020547              DET  MONEY_LINE_2_WAY      -125.0
6   2023020548              FLA  MONEY_LINE_2_WAY      -410.0
7   2023020548              FLA  MONEY_LINE_3_WAY      -255.0
8   2023020548              FLA        OVER_UNDER       390.0           O6.5
9   2023020549              OTT  MONEY_LINE_3_WAY      1200.0
10  2023020549              OTT        OVER_UNDER       400.0           O6.5
11  2023020549              OTT  MONEY_LINE_2_WAY       550.0
12  2023020550              NYI  MONEY_LINE_3_WAY       110.0
13  2023020550              NYI        OVER_UNDER       295.0           O5.5
14  2023020550              NYI  MONEY_LINE_2_WAY      -150.0
15  2023020551              DAL        OVER_UNDER       250.0           O6.5
16  2023020551              DAL  MONEY_LINE_2_WAY      -175.0
17  2023020551              DAL  MONEY_LINE_3_WAY       105.0
18  2023020552              STL  MONEY_LINE_2_WAY       130.0
19  2023020552              STL        OVER_UNDER       195.0           O6.5
20  2023020552              STL  MONEY_LINE_3_WAY       190.0
21  2023020553              ANA  MONEY_LINE_2_WAY       110.0
22  2023020553              ANA        OVER_UNDER       195.0           O6.5
23  2023020553              ANA  MONEY_LINE_3_WAY       165.0
24  2023020554              SEA  MONEY_LINE_2_WAY      -135.0
25  2023020554              SEA  MONEY_LINE_3_WAY       100.0
26  2023020554              SEA        OVER_UNDER       320.0           O5.5

   team_abbrev_away  value_away qualifier_away
0               TOR      -115.0
1               TOR      -238.0
2               TOR       350.0           U6.5
3               NSH       175.0           U6.5
4               NSH       195.0
5               NSH      -105.0
6               NYR       290.0
7               NYR       600.0
8               NYR       165.0           U6.5
9               NJD      -550.0
10              NJD       200.0           U6.5
11              NJD      -920.0
12              WSH       220.0
13              WSH       165.0           U5.5
14              WSH       120.0
15              CHI       165.0           U6.5
16              CHI       135.0
17              CHI       195.0
18              COL      -166.0
19              COL       425.0           U6.5
20              COL       105.0
21              ARI      -130.0
22              ARI       425.0           U6.5
23              ARI       110.0
24              PHI       114.0
25              PHI       185.0
26              PHI       165.0           U5.5
-------------

In [193]:
combined_dataframes = []

if len(betting_partner_df) == len(odds_df):
    for i in range(len(betting_partner_df)):
        # Expand single-row DataFrames in betting_partner_df to match the length of odds_df
        expanded_betting_partner = pd.concat([betting_partner_df[i]] * len(odds_df[i]), ignore_index=True)
        
        # Combine expanded_betting_partner with odds_df
        combined_df = pd.concat([expanded_betting_partner, odds_df[i]], axis=1)
        
        # Append to the list
        combined_dataframes.append(combined_df)
    
    # Union all the resultant DataFrames
    final_result = pd.concat(combined_dataframes, ignore_index=True)
else:
    print("Lengths of the lists are different!")

print(final_result)

   current_odds_date     last_update_utc  partnerId country partner_name  \
0         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
1         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
2         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
3         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
4         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
5         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
6         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
7         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
8         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
9         2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
10        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
11        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
12        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
13        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
14        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
15        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
16        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
17        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
18        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
19        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
20        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
21        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
22        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
23        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
24        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
25        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
26        2023-12-29 2023-12-30 01:30:11          8     CAN   Sportradar
27        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
28        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
29        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
30        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
31        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
32        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
33        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
34        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
35        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
36        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
37        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
38        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
39        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
40        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
41        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
42        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
43        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
44        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
45        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
46        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
47        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
48        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
49        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
50        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
51        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
52        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings
53        2023-12-29 2023-12-30 01:30:40          9     USA   DraftKings

                                              siteUrl      gameId  \
0                              https://sportradar.com  2023020546
1                              https://sportradar.com  2023020546
2                              https://sportradar.com  2023020546
3                              https://sportradar.com  2023020547
4                              https://sportradar.com  2023020547
5                              https://sportradar.com  2023020547
6                              https://sportradar.com  2023020548
7                              https://sportradar.com  2023020548
8                              https://sportradar.com  2023020548
9                              https://sportradar.com  2023020549
10                             https://sportradar.com  2023020549
11                             https://sportradar.com  2023020549
12                             https://sportradar.com  2023020550
13                             https://sportradar.com  2023020550
14                             https://sportradar.com  2023020550
15                             https://sportradar.com  2023020551
16                             https://sportradar.com  2023020551
17                             https://sportradar.com  2023020551
18                             https://sportradar.com  2023020552
19                             https://sportradar.com  2023020552
20                             https://sportradar.com  2023020552
21                             https://sportradar.com  2023020553
22                             https://sportradar.com  2023020553
23                             https://sportradar.com  2023020553
24                             https://sportradar.com  2023020554
25                             https://sportradar.com  2023020554
26                             https://sportradar.com  2023020554
27  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020546
28  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020546
29  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020546
30  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020547
31  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020547
32  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020547
33  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020548
34  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020548
35  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020548
36  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020549
37  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020549
38  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020549
39  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020550
40  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020550
41  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020550
42  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020551
43  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020551
44  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020551
45  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020552
46  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020552
47  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020552
48  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020553
49  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020553
50  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020553
51  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020554
52  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020554
53  https://dksb.sng.link/As9kz/720m?_dl=https%3A%...  2023020554

   team_abbrev_home   bet_description  value_home qualifier_home  \
0               CBJ  MONEY_LINE_2_WAY       173.0
1               CBJ        OVER_UNDER      -123.0           O6.5
2               CBJ         PUCK_LINE      -135.0            1.5
3               DET        OVER_UNDER      -128.0           O6.5
4               DET  MONEY_LINE_2_WAY      -115.0
5               DET         PUCK_LINE       208.0           -1.5
6               FLA        OVER_UNDER      -111.0             O6
7               FLA         PUCK_LINE       163.0           -1.5
8               FLA  MONEY_LINE_2_WAY      -144.0
9               OTT        OVER_UNDER       108.0             O7
10              OTT  MONEY_LINE_2_WAY      -105.0
11              OTT         PUCK_LINE      -246.0            1.5
12              NYI         PUCK_LINE       163.0           -1.5
13              NYI  MONEY_LINE_2_WAY      -154.0
14              NYI        OVER_UNDER      -118.0           O5.5
15              DAL         PUCK_LINE      -142.0           -1.5
16              DAL  MONEY_LINE_2_WAY      -404.0
17              DAL        OVER_UNDER      -113.0             O6
18              STL  MONEY_LINE_2_WAY       140.0
19              STL         PUCK_LINE      -176.0            1.5
20              STL        OVER_UNDER      -116.0           O6.5
21              ANA         PUCK_LINE      -223.0            1.5
22              ANA  MONEY_LINE_2_WAY       110.0
23              ANA        OVER_UNDER      -106.0           O6.5
24              SEA         PUCK_LINE       177.0           -1.5
25              SEA  MONEY_LINE_2_WAY      -140.0
26              SEA        OVER_UNDER      -105.0             O6
27              CBJ  MONEY_LINE_3_WAY       310.0
28              CBJ  MONEY_LINE_2_WAY       180.0
29              CBJ        OVER_UNDER       220.0           O6.5
30              DET        OVER_UNDER       450.0           O6.5
31              DET  MONEY_LINE_3_WAY       135.0
32              DET  MONEY_LINE_2_WAY      -125.0
33              FLA  MONEY_LINE_2_WAY      -410.0
34              FLA  MONEY_LINE_3_WAY      -255.0
35              FLA        OVER_UNDER       390.0           O6.5
36              OTT  MONEY_LINE_3_WAY      1200.0
37              OTT        OVER_UNDER       400.0           O6.5
38              OTT  MONEY_LINE_2_WAY       550.0
39              NYI  MONEY_LINE_3_WAY       110.0
40              NYI        OVER_UNDER       295.0           O5.5
41              NYI  MONEY_LINE_2_WAY      -150.0
42              DAL        OVER_UNDER       250.0           O6.5
43              DAL  MONEY_LINE_2_WAY      -175.0
44              DAL  MONEY_LINE_3_WAY       105.0
45              STL  MONEY_LINE_2_WAY       130.0
46              STL        OVER_UNDER       195.0           O6.5
47              STL  MONEY_LINE_3_WAY       190.0
48              ANA  MONEY_LINE_2_WAY       110.0
49              ANA        OVER_UNDER       195.0           O6.5
50              ANA  MONEY_LINE_3_WAY       165.0
51              SEA  MONEY_LINE_2_WAY      -135.0
52              SEA  MONEY_LINE_3_WAY       100.0
53              SEA        OVER_UNDER       320.0           O5.5

   team_abbrev_away  value_away qualifier_away
0               TOR      -209.0
1               TOR       102.0           U6.5
2               TOR       113.0            1.5
3               NSH       106.0           U6.5
4               NSH      -105.0
5               NSH      -260.0           +1.5
6               NYR      -108.0             U6
7               NYR      -198.0           +1.5
8               NYR       122.0
9               NJD      -129.0             U7
10              NJD      -115.0
11              NJD       200.0            1.5
12              WSH      -198.0           +1.5
13              WSH       129.0
14              WSH      -102.0           U5.5
15              CHI       119.0           +1.5
16              CHI       316.0
17              CHI      -106.0             U6
18              COL      -166.0
19              COL       146.0            1.5
20              COL      -103.0           U6.5
21              ARI       183.0            1.5
22              ARI      -130.0
23              ARI      -114.0           U6.5
24              PHI      -217.0           +1.5
25              PHI       119.0
26              PHI      -115.0             U6
27              TOR      -115.0
28              TOR      -238.0
29              TOR       350.0           U6.5
30              NSH       175.0           U6.5
31              NSH       195.0
32              NSH      -105.0
33              NYR       290.0
34              NYR       600.0
35              NYR       165.0           U6.5
36              NJD      -550.0
37              NJD       200.0           U6.5
38              NJD      -920.0
39              WSH       220.0
40              WSH       165.0           U5.5
41              WSH       120.0
42              CHI       165.0           U6.5
43              CHI       135.0
44              CHI       195.0
45              COL      -166.0
46              COL       425.0           U6.5
47              COL       105.0
48              ARI      -130.0
49              ARI       425.0           U6.5
50              ARI       110.0
51              PHI       114.0
52              PHI       185.0
53              PHI       165.0           U5.5

In [194]:
final_result = final_result.fillna('')

# Convert all columns to string data type
final_result = final_result.astype(str)

# Apply camel_to_snake function to all column names
final_result.columns = final_result.columns.map(camel_to_snake)

In [196]:
import oracledb
import os

# Oracle database connection details
def read_config_file(file_path):
    config = {}
    with open(file_path, 'r') as file:
        for line in file:
            key, *value_parts = line.strip().split('=')
            value = '='.join(value_parts)
            config[key] = value
    return config

# Replace 'path/to/config.txt' with the actual file path
config_file_path = '/Users/jeremybutt/Desktop/credentials.txt'

# Read the configuration from the file
config = read_config_file(config_file_path)

# Set the variables for username, password, and DSN
username = config.get('Oracle_Username')
password = config.get('Oracle_Password')
dsn = config.get('dsn')

# Construct the connection string
connection = oracledb.connect(user=username, password=password, dsn=dsn)

# Create a cursor object
cursor = connection.cursor()

# # Define the target table name
table_name = 'NHL_GAME_ODDS_DAILY_LOAD'

# Drop the table if it already exists
drop_query = f"DROP TABLE {table_name} PURGE"
try:
    cursor.execute(drop_query)
    print(f"Dropped table {table_name}")
except oracledb.DatabaseError as e:
    error_code, error_message = e.args[0].code, e.args[0].message
    if error_code != 942:  # ORA-00942: table or view does not exist
        print(f"Error occurred while dropping table {table_name}: {error_message}")
        
# Read the SQL file
sql_file = r"/Users/jeremybutt/nhl_analysis/02_Source_Code/table_create_scripts/NHL_GAME_ODDS_DAILY_LOAD.sql"
with open(sql_file, 'r') as file:
    create_table_query = file.read()
    
print(create_table_query)

# # Create the table
cursor.execute(create_table_query)
print(f"Created table {table_name}")


# Convert dataframe to a list of tuples
data_tuples = [tuple(row) for row in final_result.values]

# Prepare the INSERT query with placeholders for the columns
insert_query = f"INSERT INTO {table_name} " \
               f"({', '.join(final_result.columns)}) " \
               f"VALUES ({', '.join([':' + str(i+1) for i in range(len(final_result.columns))])})"

# Insert data into the target table
cursor.executemany(insert_query, data_tuples)
print(f"Inserted {len(data_tuples)} rows into {table_name}")

# Commit the changes
connection.commit()

# Read the SQL script
update_file = r"/Users/jeremybutt/nhl_analysis/02_Source_Code/update_scripts/NHL_GAME_ODDS_DAILY_UPDATE.sql"
with open(update_file, 'r') as file:
    script = file.read()

# Split the script into individual statements
statements = script.split(';')

# Execute each statement
for statement in statements:
    if statement.strip():  # Skip empty statements
        try:
            cursor.execute(statement)
            rows_affected = cursor.rowcount
            print(f"Rows affected: {rows_affected}")
        except oracledb.DatabaseError as e:
            error, = e.args
            error_message = error.message
            print(f"Error executing statement: {error_message}")

# Commit the changes
connection.commit()

# Close the cursor and the database connection
cursor.close()
connection.close()

OperationalError: DPY-6005: cannot connect to database.
DPY-6000: Listener refused connection. (Similar to ORA-12506)